<div class = "padding-20">
  <div fxLayout = "row" fxLayoutAlign = "space-evenly center" class="card-head  mat-elevation-z4">
    <div fxFlex ="80" fxLayout = "row" fxLayoutAlign = "start center">
        <mat-form-field>
            <input type="text" #patientNameInput matInput placeholder='病人姓名' [formControl]="patientNameFormControl">
        </mat-form-field>
        <mat-form-field>
            <input type="text" #tagsInput matInput placeholder='标签' [formControl]="tagsFormControl">
        </mat-form-field>
        <mat-form-field>
            <input type="text" #hospitalInput matInput placeholder='医院' [formControl]="hospitalFormControl">
        </mat-form-field>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button (click)=newSearch()>查询</button>
        <button mat-raised-button (click)=resetQuery()>重置</button>
    </div>
  </div>
  <div *ngIf="this.searchService.dicomSearchResults" class="table-container mat-elevation-z4">
    <mat-accordion class="result-list" multi="true">
      <mat-expansion-panel *ngFor="let dicom of this.searchService.dicomSearchResults">
        <mat-expansion-panel-header>
          <mat-panel-title>{{dicom.PatientName}}</mat-panel-title>
          <mat-panel-description>{{dicom.tags?dicom.tags:""}}</mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <pre>{{dicom | json}}</pre> -->
        <pre>
          <p>年龄：{{dicom.PatientAge}}</p>
          <p>性别：{{dicom.PatientSex}}</p>
        </pre>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- <div fxFlex fxLayout="row" fxLayoutAlign="center ">

  <table class="mat-form-field" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="mat-form-field">
          <input #patientNameInput matInput placeholder='病人姓名' [formControl]="patientNameFormControl">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="mat-form-field">
          <input #tagsInput matInput placeholder='标签' [formControl]="tagsFormControl">
        </mat-form-field>
        </td>
      <td>
        <mat-form-field class="mat-form-field">
          <input #hospitalInput matInput placeholder='医院' [formControl]="hospitalFormControl">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field>
    <button matPrefix mat-icon-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <button matSuffix mat-icon-button (click)="exit()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div> 

<div *ngIf="dicomSearchResults" fxFlex class="padding-20" fxLayout="column" fxLayoutAlign="start center">
  <mat-accordion class="result-list" multi="true">
    <mat-expansion-panel *ngFor="let dicom of dicomSearchResults">
      <mat-expansion-panel-header>
        <mat-panel-title>{{dicom.PatientName}}</mat-panel-title>
        <mat-panel-description>{{dicom.tags}}</mat-panel-description>
      </mat-expansion-panel-header>
      <pre>{{dicom | json}}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>-->