/* .title-hover:hover{
    color:#fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #4E86ff;
    color:#fff;
}


.avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%
}

.mat-input-underline {
    background-color: white;
}

.mat-icon {
    color: white;
} */

.currentMunuHref{
    font-size:14px;
    margin-bottom:20px;
}

.card-head {
    width: 100%;
    min-height: 100px;
    background: #fff;
}
.card-head .mat-form-field{
    width:20%;
    margin-left:2%;
    margin-top:15px;
}

.mat-form-field{
    font-size: 12px;
 }

.table-container{
    margin-top: 30px;
}

.dicomtags { 
    width:40%;
    /* margin-top:20px; */
}

.insured{
    background: #4E86ff;
    color:#fff;
  }

.result-list {
    width: 70%;
}